#containerAnswers {
  user-select: none;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center; /* To align vertically, if needed */
}
.singleAnswerContainer {
  background-color: rosybrown;
  padding: 10px;

  height: 30px;
  width: 30px;
  border: thick ridge black;
}