#timer{
  display: flex;
  justify-content: center;
  font-size: large;
  background-color: rgb(188, 188, 188);
}


/* 'slot' refers to where the user puts their words */
#slotParent{
  font-family: monospace;
  display: flex;
  width: auto;
  background-color: gray;
  justify-content: center;
  align-items: center;
}

.answerSlot{
  background-color: lightgray;
  height: fit-content;
  width: fit-content;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-right-color:black;

  font-size: large;

  z-index: 0;
}

.slotBreak{
  padding: 10px;
}

/* 'answers' refer to the words the user gets */
#allAnswersContainer {
  user-select: none;
  -webkit-user-select: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; /* To align vertically, if needed */
  background-color: antiquewhite;
}
.singleAnswerContainer {
  background-color: rosybrown;
  padding: 10px;
  min-height: 20px;
  min-width: 70px;
  height: fit-content;
  width: fit-content;
  align-items: center;
  border: thick ridge black;
}
.answers {
  background-color: rgb(232, 189, 232);
  z-index: 1; /*needs to be greater than z-index of answerSlot */
  font-size: 1vw;
  height: fit-content;
  width: fit-content;
}


#buttonContainer{
  display: flex;
  width: auto;
  background-color: rgb(212, 212, 212);
  justify-content: center;
  align-items: center;

}

/* these are the buttons that reset the board, etc */
.gameButtons{
  display: flex;
  justify-self: center;
  align-items: center;
}

/* this refers to the table that tracks previous solutions */
#previousSolutionsContainer{
  background-color: rgba(250, 235, 215, 0.452);
  display: flex;
  justify-content: center;
  align-items: center; /* To align vertically, if needed */
}

table, th, td {
  font-family: monospace;
  font-size: large;
  border: 2px solid black;
  padding: 2px;
}